@tailwind base;
@tailwind components;
@tailwind utilities;

$smaller-screen-length: min(90vh, 90vw);

.floppy-disk-1 {
    // create square floppy disk container
    width: $smaller-screen-length;
    height: $smaller-screen-length;

    // center the square view area
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // floppy disk's metal shutter (header/ navbar)
    header {
        nav {
        }
    }
    // floppy disk's notebook page
    main {
        overflow-y: scroll;
        padding: 1ch;
    }
}

// START: header tabs //
.header-tabs span,
.header-tabs a {
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
}

// END: header tabs //

.notebook-lines {
    font-size: inherit;
}
[data-theme='light'] .notebook-lines {
    // self
    $notebook-yellow: rgb(194, 165, 36);
    $notebook-white: rgba(255, 255, 255, 0.884);
    background-image: repeating-linear-gradient($notebook-white 0ch, $notebook-white 1.8ch, $notebook-yellow 1.8ch, $notebook-yellow 2ch);
    background-size: 100% 2ch;
    line-height: 2ch;
    // children
    color: black;
    a {
        text-decoration: underline;
    }
}

[data-theme='dark'] .notebook-lines {
    // self
    $notebook-blue: rgb(46, 57, 107);
    $notebook-grey: rgba(102, 102, 102, 0.884);
    background-image: repeating-linear-gradient($notebook-grey 0ch, $notebook-grey 1.8ch, $notebook-blue 1.8ch, $notebook-blue 2ch);
    background-size: 100% 2ch;
    line-height: 2ch;
    // children
    color: whitesmoke;
    a {
        text-decoration: underline;
    }
}

.p-notebook-line {
    padding: 2ch !important;
}
.photo-attachment-tall-popover-content {
    height: $smaller-screen-length;
}