@tailwind base;
@tailwind components;
@tailwind utilities;

$smaller-screen-length: min(90vh, 90vw);

.floppy-disk-1 {
    // create square floppy disk container
    width: $smaller-screen-length;
    height: $smaller-screen-length;

    // center the square view area
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // floppy disk's metal shutter (header/ navbar)
    header {
        nav {
        }
    }
    // floppy disk's notebook page
    main {
        overflow-y: scroll;
    }
}

// START: header tabs //
.header-tabs span,
.header-tabs a {
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
}

// END: header tabs //
